*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.gap{
    margin-right: 30px;
}
/*===commen css end===*/

/*===banner area start===*/
.banner_bg{
    height: 600px;
    background: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_bg .banner{
    height: 100%;
}
.banner_bg .banner .banner_content{
    width: 465px;
    height: 100%;
    float: left;
}
.banner_bg .banner .banner_content h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 100px;
}
.banner_bg .banner .banner_content h1 span{
    display: block;
    font-size: 50px;
    color: #ec4c76;
    text-transform: capitalize;
    margin-top: 10px;
}
.banner_bg .banner .banner_content p{
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}
.banner_bg .banner .banner_content a{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding: 7px 25px;
    background: #ec4c76;
    border-radius: 5px;
    margin-top: 30px;
}
.banner_bg .banner .banner_img{
    width: 465px;
    height: 100%;
    float: left;    
}
.banner_bg .banner .banner_img img{
    height: 90%;
    margin-top: 10%;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}
.banner_bg .banner .banner_img:hover img{
   transform: scale(1.1); 
}

/*===banner area end===*/

/*===biography area start===*/
.biography_bg{
    background: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px
}
.biography_bg .biography{
    height: 100%;
}
.biography_bg .biography .biography_content{
    width: 465px;
    height: 100%;
    float: left;
}
.biography_bg .biography .biography_content h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 200px;
}
.biography_bg .biography .biography_content h1 span{
    display: block;
    font-size: 50px;
    color: #ec4c76;
    text-transform: capitalize;
    margin-top: 10px;
}
.biography_bg .biography .biography_content p{
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}
.biography_bg .biography .biography_content a{
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    background: #e8134a;
    border-radius: 5px;
    margin-top: 30px;
}
.biography_bg .biography .biography_img{
    width: 465px;
    height: 100%;
    float: left;    
}
.biography_bg .biography .biography_img img{
    height: 90%;
    margin-top: 10%;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}
.biography_bg .biography .biography_img:hover img{
    transform: scale(1.2); 
}
/*===biography area area end===*/


/*===work area start===*/
.work_bg{
    height: 500px;
    background: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
}
.work_bg .work{
    height: 100%;
}
.work_bg .work .heading{
    height: 150px;
    text-align: center;
    margin-top: 75px;
}
.work_bg .work .heading h2{
    text-transform: capitalize;
    font-size: 40px;
}
.work_bg .work .gallery{
    width: 100%;
    height: 300px;
}
.work_bg .work .gallery .item{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    float: left;
}
.work_bg .work .gallery .item img{
    width: 100%;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}
.work_bg .work .gallery .item:hover img{
    transform: scale(1.2);
}
/*===work area end===*/

/*===client feedback area start===*/
.client_bg{
    height: 600px;
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.client_bg .client{
    height: 100%;
}
.client_bg .client .feedback{
    height: 300px;
    text-align: center;
}
.client_bg .client .feedback h2{
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 80px;
}
.client_bg .client .feedback h5{
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 30px;
}
.client_bg .client .feedback p{
    text-transform: capitalize;
    margin-top: 5px;
}
.client_bg .client .feedback p span{
    text-transform: uppercase;
}
.client_bg .client .feedback p:last-child{
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    
}
.client_bg .client .feedback p:last-child span{
    display: block;
    text-transform: capitalize;
}
.client_bg .client .contact{
    height: 150px;
    width: 650px;
    text-align: center;
    background: #ec4c76;
    border-radius: 7px;
    margin: 15px auto;
}
.client_bg .client .contact p{
    font-size: 18px;
    color: #ffffff;
    padding-top: 35px;
}
.client_bg .client .contact p:last-child{
    padding-top: 15px;
    font-size: 24px;
    font-weight: 700;
}
/*===client feedback area end===*/

/*===footer area start===*/
footer{
    text-align: center;
    color: #353535;
    padding-bottom: 20px;
}
/*===footer area end===*/